{% extends "base.html" %}

{% block content %}
<div class="mx-auto w-full flex-1 max-w-screen-md">
    <header class="space-y-2">
        <h1 class="text-xl font-semibold tracking-tight md:text-4xl">
            {{ section.title }}
        </h1>
        <p class="text-muted-foreground text-[1.05rem] sm:text-base">
            {{ section.description }}
        </p>
    </header>
    <div class="mt-4">
        <div id="landing-code-example">
            {{ section.content | safe }}
        </div>
    </div>
</div>
{% endblock content %}