{% extends "base.html" %}

{% block content %}
<div class="mx-auto w-full flex-1 max-w-screen-md">
    <header class="space-y-2">
        <h1 class="text-xl font-semibold tracking-tight md:text-4xl">
            {{ section.title }}
        </h1>
        <p class="text-muted-foreground text-[1.05rem] sm:text-base">
            {{ section.description }}
        </p>
        <div class="flex flex-row gap-2 flex-wrap mt-4">
            {% for badge in section.extra.badges %}
            <a href="{{ badge.href }}" data-original-href="{{ badge.href }}">
                <img src="{{ badge.img }}" class="max-w-full h-auto" alt="{{ badge.alt }}">
            </a>
            {% endfor %}
        </div>
        <div class="mt-6">
            <a href="{{ get_url(path=section.extra.get_started_path) }}" class="btn px-2 font-mono uppercase" data-size="sm">
                Get Started
                <span class="iconify lucide--arrow-big-right"></span>
            </a>
        </div>
    </header>
    <div class="mt-6">
        <div id="landing-code-example">
            {{ section.content | safe }}
        </div>
    </div>
</div>
{% endblock content %}