<div class="flex h-14 w-full items-center gap-2 px-4">
    <button type="button" onclick="document.querySelector('.sidebar').toggle()"
            aria-label="Toggle sidebar" data-tooltip="Toggle sidebar"
            data-side="bottom" data-align="start" class="btn mr-auto size-7 -ml-1.5" data-size="icon-sm" data-variant="ghost">
        <span class="iconify lucide--sidebar"></span>
    </button>
    <div class="relative">
        <span
              class="iconify lucide--search absolute left-2 top-1/2 -translate-y-1/2 size-4 text-muted-foreground pointer-events-none"></span>
        <input class="input h-8 pl-8" id="input-with-text" type="search" placeholder="Search the docs">
    </div>
    <button type="button" aria-label="Toggle dark mode" data-tooltip="Toggle dark mode" data-side="bottom"
            onclick="document.dispatchEvent(new CustomEvent('basecoat:theme'))" class="btn size-8" data-size="icon" data-variant="outline">
        <span class="iconify lucide--sun hidden dark:block"></span>
        <span class="iconify lucide--moon block dark:hidden"></span>
    </button>
    <a href="{{ config.extra.url.github }}" class="btn size-8" data-size="icon" data-variant="outline" target="_blank" rel="noopener noreferrer"
       data-tooltip="GitHub repository"
       data-side="bottom" data-align="end" aria-label="Link to GitHub repository">
        <span class="iconify mdi--github"></span>
    </a>
    <a href="{{ config.extra.url.discord }}" class="btn size-8" data-size="icon" data-variant="outline" target="_blank" rel="noopener noreferrer"
       data-tooltip="Discord channel"
       data-side="bottom" data-align="end" aria-label="Link to Discord channel">
        <span class="iconify fa7-brands--discord text-xs"></span>
    </a>
</div>