{% extends "base.html" %}

{% block content %}
<div class="ml-auto w-full flex-1 min-w-0 max-w-screen-md">
    <article class="content flex flex-col gap-4">
        <header class="pb-2 border-b border-border">
            <h1 class="my-0">{{ page.title }}</h1>
            {% if page.description %}
            <p class="text-muted-foreground mt-1 mb-0">{{ page.description }}</p>
            {% endif %}
            {% if "blog" in page.components %}
            <div class="mt-6">
                {% if page.authors %}
                <p class="flex items-center text-sm text-muted-foreground my-0">
                    <span class="iconify lucide--users mr-2"></span>
                    {{ page.authors | join(sep=", ") }}
                </p>
                {% endif %}
                {% if page.date %}
                <p class="flex items-center text-sm text-muted-foreground mt-2 mb-0">
                    <span class="iconify lucide--calendar text-xs mr-2"></span>
                    {{ page.date | date(format="%b %-d, %Y") }}
                </p>
                {% endif %}
            </div>
            {% endif %}
        </header>
        <div class="prose">
            {{ page.content | safe }}
        </div>
        {% if "blog" not in page.components %}
        <footer class="mt-10">
            <nav class="flex justify-between items-center text-sm">
                <div>
                    {% if page.lower %}
                    <a href="{{ page.lower.permalink }}"
                       class="flex items-center gap-1">
                        <span>←</span>
                        <span>{{ page.lower.title }}</span>
                    </a>
                    {% endif %}
                </div>
                <div>
                    {% if page.higher %}
                    <a href="{{ page.higher.permalink }}"
                       class="flex items-center gap-1">
                        <span>{{ page.higher.title }}</span>
                        <span>→</span>
                    </a>
                    {% endif %}
                </div>
            </nav>
        </footer>
        {% endif %}
    </article>
</div>
<div class="hidden text-sm xl:block w-full max-w-[240px]">
    <aside aria-label="On this page" class="sticky top-[var(--header-h,5rem)] py-4">
        {% if page.toc %}
        <nav
             class="toc [&_ul]:space-y-2 [&_ul]:my-2 [&_ul]:ml-2 [&_ul]:list-none [&_li]:mt-0 [&_a]:inline-block [&_a]:no-underline [&_a]:transition-colors [&_a]:hover:text-foreground [&_a]:text-muted-foreground [&_a]:pl-4">
            <h4 class="font-medium uppercase">On this page</h4>
            <ul class="py-2 border-l border-border">
                {% for h1 in page.toc %}
                <li class="toc-item">
                    <a href="{{ h1.permalink | safe }}" class="toc-link">{{ h1.title }}</a>
                    {% if h1.children %}
                    <ul>
                        {% for h2 in h1.children %}
                        <li class="toc-item">
                            <a href="{{ h2.permalink | safe }}" class="toc-link">{{ h2.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </nav>
        {% endif %}
    </aside>
</div>
{% endblock content %}