{% component guide(path) %}
{% set section = get_section(path=path ~ "/_index.md") %}
<h3>{{ section.extra.section_title | default(value=section.title) }}</h3>
<ul class="border-l border-border ml-2">
    <li>
        <a href="{{ section.permalink | safe }}" class="pl-4">Overview</a>
    </li>
    {% for page in section.pages %}
    <li>
        <a href="{{ page.permalink | safe }}" class="pl-4">
            {{ page.extra.short_title | default(value=page.title) }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endcomponent %}

<nav aria-label="Sidebar navigation">
    <header class="font-mono">
        <a href="/" class="btn-ghost p-2 h-12 w-full justify-start text-xl items-baseline">
            extendr <span class="text-sm text-muted-foreground">v{{ config.extra.version.extendr }}</span>
        </a>
    </header>
    <section class="scrollbar [&_div>h3]:uppercase">
        <div role="group">
            <h3>Getting started</h3>
            <ul>
                <li>
                    <a href="{{ get_url(path='@/introduction.md') }}">
                        <span class="iconify lucide--info text-xs"></span>
                        Introduction
                    </a>
                </li>
                <li>
                    <a href="{{ get_url(path='@/installation.md') }}">
                        <span class="iconify lucide--terminal text-xs"></span>
                        Installation
                    </a>
                </li>
                <li>
                    <a href="{{ get_url(path='@/example.md') }}">
                        <span class="iconify lucide--package text-xs"></span>
                        Example
                    </a>
                </li>
            </ul>
        </div>
        <div role="group">
            <h3>API Reference</h3>
            <ul>
                <li>
                    <a href="{{ config.extra.url.extendr }}">
                        <span class="iconify mdi--language-rust text-base"></span>extendr
                    </a>
                </li>
                <li>
                    <a href="{{ config.extra.url.rextendr }}">
                        <span class="iconify mdi--language-r text-base"></span>rextendr
                    </a>
                </li>
            </ul>
        </div>
        <div role="group">
            <h3>Community</h3>
            <ul>
                <li>
                    <a href="{{ get_url(path='@/blog/_index.md') }}">
                        <span class="iconify lucide--rss text-xs"></span>Blog
                    </a>
                </li>
                <li>
                    <a href="{{ get_url(path='@/awesome.md') }}">
                        <span class="iconify lucide--sparkles text-xs"></span>Awesome Extendr
                    </a>
                </li>
                <li>
                    <a href="{{ config.extra.url.discord }}">
                        <span class="iconify fa7-brands--discord text-xs"></span>Discord
                    </a>
                </li>
                <li>
                    <a href="{{ config.extra.url.github }}">
                        <span class="iconify mdi--github text-xs"></span>GitHub
                    </a>
                </li>
            </ul>
        </div>
        <div role="group">{{<guide path="development"/>}}</div>
        <div role="group">{{<guide path="publishing"/>}}</div>
        <div role="group">{{<guide path="rust-intro"/>}}</div>
        <div role="group">{{<guide path="contributing"/>}}</div>
    </section>
</nav>